/* ANIMATIONS */
@keyframes slideDown {
    0% {
        /* opacity: 0; */
        transform: translateY(-100%);
        z-index: 1;
    }

    90% {
        /* opacity: 1; */
        transform: translateY(0);
        z-index: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeFromDark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes growFromMiddle {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    /* 70% {
        transform: scaleY(1.2)
    } */

    100% {
        transform: scaleY(1);
        opacity: 100;
    }
}