html {
    width: 100vw;
    overflow: hidden;
    background-color: #333;
}
body{
    margin: 0 auto;
    font-family: roboto;
    font-size: 14px;
}






footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: rgb(71, 81, 94);
    opacity: .97;
}
#footer_section{
    position: relative;
    float: left;
    margin: 0 auto;
    width: 60vw;
    font-size: 11px;
    color: white;
    padding: 20px;
}
#mobile_footer_section {
    display: none;
}




@media (max-width: 787px) {
    html {
        width: 100vw;
        min-width: 380px;
        overflow: scroll;
        background-color: #fff;
    }
}


